.product-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  background: #f4f4f4;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.product-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.product-info {
  flex-grow: 1;
  padding: 0 10px;
}

.product-title {
  font-size: 1rem;
  font-weight: bold;
  color: #495e35;
  margin-bottom: 4px;
}

.product-description {
  font-size: 0.8rem;
  color: #6b6b6b;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.product-description::after {
  content: '\25BE';
  font-size: 0.8rem;
  margin-left: 4px;
}

.product-price {
  font-size: 1.0rem;
  font-weight: bold;
  color: #495e35;
}

.product-card-container button {
  background-color: #333;
  color: white;
  padding: 6px 12px;
  border: none;
  font-size: 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}

.product-card-container button:hover {
  background-color: #000;
}
